span {
    font-weight: bold;
<<<<<<< HEAD
=======
}

.btn-circle {
    width: 60px;
    height: 50px;
    padding: 0px 0px;
    border-radius: 30px;
}

.img-bot {
    transition: all 0.2s ease-in-out;
}

.img-bot:hover {
    border-radius: 30px;
    background-color: rgb(170, 170, 170);
}

.table-scroll {
    max-height: 70vh;
    overflow-y: auto;
>>>>>>> master
}