.bg {
    background-image: url("/image/bgmain.png");
}

.bot-btn {
    border-radius: 30px 10px;
    width: 200px;
}

.top {
    border-radius: 5px;
}

.container .line {
    background-color: black;
    height: 120px;
}

.bot-line {
    position: relative;
    padding: 0;
}

.bot-row {
    bottom: 50px;
    position: absolute;
    left: 0;
    right: 0;
}

img.img-bot {
    width: 40%;
}